div, p, span, ul, li, a {
    margin: 0;
    padding: 0;
}

body{

}

.navbar{
    background-color: #fafafa;
    margin-bottom: 0px;
}

.maindiv {

}

.leftpart {
    height: 100%;
}
.midpart {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.rightpart {
    height: 100%;
    background-color: white;
}
.userinfo {
    height: 295px;
    background-color: #40b189;
}

.showinfo {
    padding-left: 0px;
    padding-right: 0px;
    height: 220px;
    background-color: #40b189;
}
.personinfo {
    height: 250px;
    background-color: #40b189;
}

.userphoto {
    margin-top: 36px;
    margin-left: 64px;
    margin-right: 70px;
}

.user_name{
    margin-top: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.user_sign{
    margin-top: 20px;
    font-size: 13px;
    color: white;
    text-align: center;
}

.folbut {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    background-color: #6D95B6;
    margin-left: 60px;
}
.tag {
    text-align: center;
    text-decoration:none;
    color: lightgray;
    font-weight: lighter;
    font-size: 18px;
}

.tag-active{
    color: #40b189;
}

.tabpage {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.act_hr{
    border: 0;
    height: 1px;
    background-color: #40b189;
}

.club_hr{
    border: 0;
    height: 1px;
    background-color: #eeeeee;
}

.info_hr{
    border: 0;
    height: 1px;
    background-color: #eeeeee;
}

.com_hr{
    border: 0;
    height: 1px;
    background-color: #eeeeee;
}

a:hover {
    text-decoration: none;
}

.activity {
    background-color: white;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
    height: 640px;
}

.actinfo {
}

.actphoto {
}

.imghref{

}

.act_title{
    font-size: 18px;
}

.act_intro{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
}

.iE {
    padding: 5px;
    width: 260px;
    height: 46px;
}

.u_info {
    font-size: 18px;
}

.user_contact_title{
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 19px;
    color: white;
}

.user_contact{
    font-size: 14px;
    color: #eeeeee;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 5px;
}

.right-bar{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #3c3f41;
    overflow: auto;
}

.clubact{
    font-size: 14px;
}

.actclub{
    font-size: 14px;
}

.acttype{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    color: #dddddd;
}

.acttime{
    padding-top: 10px;
    font-size: 12px;
    color: #a2a2a2;
    text-align: right;
}

.acthr{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: -15px;
    margin-right: -15px;
    border: 0;
    background-color: #313130;
    height: 1px;
}

.userpicture{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.banner-title{
    font-size: 19px;
    padding-bottom: 30px;
    margin-left: 10px;
}

.u_info{
    font-size: 14px;
    margin-left: 50px;
    line-height: 250%;
}

.change_info{
    float: right;
}