<!--comment-->
<div class="row c-display">
    <div class="col-md-2 face-comment">
        <img src="../index/image/profile.jpg" width="50px" height="50px" class="img-circle">
    </div>
    <div class="col-md-10">
        <span class="p-nickname">加载中...</span><span class="p-time">-月-日 -:-:-</span>
        <p class="p-comment">加载中...</p>
        <div class="p-action">
            <span><a href="javascript:void(0)" class="favor"><span class="glyphicon glyphicon-thumbs-up"> 赞</span></a></span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span><a href="javascript:void(0)" class="reply"><span class="glyphicon glyphicon-pencil"> 回复</span></a></span>
        </div>
        <hr/>

    </div>

</div>

<div class="main-form" hidden="hidden">
    <form method="post" action="http://192.168.1.107:8080/comment/reply/">
        <div class="form-reply">
            <div class="input-group">
                <input type="text" class="form-control" name="content" id="com-reply">
                <span class="input-group-btn">
                    <button class="btn btn-success">发送</button>
                </span>
            </div>
            <input type="text" value="1" name="c_id" class="com-id" id="c_id" hidden="hidden">
            <input type="text" value="1" name="u_id" id="u_id" hidden="hidden">
            <input type="text" value="0" name="type" id="type" hidden="hidden">
        </div>
    </form>
</div>