<div class="row c-edit">
    <div class="col-md-2 face-comment">
        <img src="../index/image/profile.jpg" width="50px" height="50px" class="img-circle">
    </div>
    <div class="col-md-10">
        <form action="#" method="post" role="form">
            <textarea class="form-control" rows="3" placeholder="快加入讨论吧！"></textarea>
            <div class="submit-area" id="submit" >
                <div class="form-group">
                    <div class="col-sm-8 nickname">
                        <input type="text" class="form-control input-sm" id="nickname" placeholder="昵称(选填)">

                    </div>
                    <div class="col-sm-4 post-comment"><button class="btn btn-success btn-sm" id="post-comment">发送</button></div>
                </div>


            </div>
        </form>
    </div>
</div>

<br/>
<br/>

<!--comment-->
<div class="row c-display">
    <div class="col-md-2 face-comment">
        <img src="../index/image/profile.jpg" width="50px" height="50px" class="img-circle">
    </div>
    <div class="col-md-10">
        <p class="p-nickname">灯管 <span class="p-time">&nbsp&nbsp7月19日 16:52</span></p>
        <p class="p-comment">请问加入这个俱乐部有什么要求吗？需要掌握单片机和C语言吗？</p>
        <div class="p-action">
            <span><a href="#"><span class="glyphicon glyphicon-thumbs-up"> 赞</span></a></span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span><a href="#"><span class="glyphicon glyphicon-pencil"> 回复</span></a></span>
        </div>
        <hr/>
        <!--reply-->
        <div class="row reply-display">
            <div class="col-md-1 face-reply">
                <img src="../index/image/profile.jpg" width="35px" height="35px" class="img-circle">
            </div>
            <div class="col-md-11">
                <p class="r-nickname">灯管 <span class="r-time">&nbsp&nbsp7月19日 16:52</span></p>
                <p class="r-comment">请问加入这个俱乐部有什么要求吗？需要掌握单片机和C语言吗？</p>
                <div class="p-action">
                    <span><a href="#"><span class="glyphicon glyphicon-thumbs-up"> 赞</span></a></span>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <span><a href="#"><span class="glyphicon glyphicon-pencil"> 回复</span></a></span>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>


